<div class="row">
  <div class="col-10"></div>
  <%= link_to "Thêm chuyến công tác", new_business_trip_path, class: "btn btn-primary mb-3"  %>
</div>



<div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Địểm đến</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Trạng thái thanh toán</th>

        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% @business_trips.each_with_index do |business_trip, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= link_to business_trip_path(id: business_trip.id)  do %>
              <%= business_trip.destination %>
            <% end %>
          </td>
          <td><%= business_trip.to_date.strftime("%d/%m/%Y") %> - <%= business_trip.from_date.strftime("%d/%m/%Y") %></td>
          <td>
            <% if business_trip.request_payment %>
              <%= business_trip.request_payment.status %>
            <% else %>
              Chưa tạo yêu cầu thanh toán
            <% end %>
          </td>

          <td>
            <% if business_trip.users.index(current_user) or current_user.role == 'admin' %>
              <% if business_trip.request_payment and business_trip.request_payment.status != 'Tạm bị từ chối'%>
                  <%= link_to edit_business_trip_path(id: business_trip.id), class: 'btn btn-secondary disabled' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to business_trip,  method: :delete, data: { confirm: "Really ?  " + business_trip.destination }, class: 'btn btn-danger disabled' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
              <% else %>
                <%= link_to edit_business_trip_path(id: business_trip.id), class: 'btn btn-secondary ' do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to business_trip,  method: :delete, data: { confirm: "Really ?  " + business_trip.destination }, class: 'btn btn-danger' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
