<div class="row  h-100">
  <div class="col-3"></div>
  <div class="col-6 h-100" >
    <h4 class="text-center">Chi tiết thông tin chuyến công tác</h4>
    <div class=" form-group mt-5">
      <label class="font-weight-bold">Điểm đến:</label>
      <label><%= @business_trip.destination %></label>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Từ ngày:</label>
      <label><%= @business_trip.from_date %></label>
    </div>

    <div class=" form-group">
      <label class="font-weight-bold">Đến ngày:</label>
      <label><%= @business_trip.to_date %></label>
    </div>

    <div class=" form-group">
      <label class="font-weight-bold">Quyết định số:</label>
      <label><%= @business_trip.decision_writing %></label>
    </div>
      <label class="font-weight-bold">Danh sách nhân viên tham gia</label><br>
      <ul>
        <% @business_trip.users.each do |personnel| %>
          <li>
            <%= personnel.code %> - <%= personnel.full_name %>
          </li>
        <% end %>
      </ul>
    <div>

    </div>
    <div class=" form-group">
      <label class="font-weight-bold">Mục đích chuyến công tác:</label><br>
      <div class="markdown">
        <%= @business_trip.purpose %>
      </div>
    </div>

    <div class="d-flex flex-row-reverse mt-5">
      <% if @business_trip.users.index(current_user) or current_user.role == 'admin' %>
        <% if @business_trip.request_payment %>
          <% if @business_trip.request_payment.status == 'Tạm bị từ chối' or @business_trip.request_payment.status == 'Đang đợi xác nhận từ bộ phận tài vụ' %>
            <%= link_to edit_business_trip_path(id: @business_trip.id), class: 'btn btn-secondary ml-5' do %>
              Sửa thông tin
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if exist_payment_request?(@business_trip.id) %>
        <%= link_to new_business_trip_request_payment_path(business_trip_id: @business_trip.id), class: 'btn btn-primary' do %>
          Tạo yêu cầu thanh toán chi phí
        <% end %>
      <% else%>
        <%= link_to business_trip_request_payments_path(business_trip_id: @business_trip.id), class: 'btn btn-primary' do %>
          Xem yêu cầu thanh toán
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-3"></div>
</div>

