<div class="row align-items-center" style="height: 200px; margin: 0 150px !important">
  <div class="col-6">
    <%# <p>Bộ phận: <%= current_user.degree_level.department.name %>
    <p>Số: PR000<%= RequestPayment.last.id + 1  if RequestPayment.last %></p>
  </div>

  <div class="col-6">
    <p class="text-center font-weight-bold" style="font-size: 1.2rem">Công ty cổ phần LIQUID</p>
    <p class="text-center">Hà Nội, ngày <%=  @request_payment.created_at.day %>, tháng <%=  @request_payment.created_at.month %>, năm <%=  @request_payment.created_at.year %> </p>
  </div>
</div>
