<div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Bộ phận</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= link_to user  do %>
              <%= user.full_name %>
            <% end %>
          </td>
          <td><%= user.gender %></td>
          <td><%= user.birthday %></td>
          <td><%= user.degree_level.department.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div >
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
