<h4 class="text-center">ĐƠN ĐỀ NGHỊ THANH TOÁN CHI PHÍ CHUYÊN CÔNG TÁC</h4>

<div style="margin: 50px 250px 10px 250px !important; font-size: 1.3rem">
  <span class="font-weight-bold">Kính gửi:</span>
  <span>Bộ phận tài vụ</span>
</div>

<h5 class="" style="margin: 10px 150px 10px 180px !important">1, Thông tin cá nhân người đề nghị thanh toán</h5>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 ml-5 mr-5">
    <% if @request_payment.new_record? %>
      <div>
        <span class="font-weight-bold">Người yêu cầu:</span>
        <span><%= current_user.full_name %></span>
      </div>
      <div>
        <span class="font-weight-bold">Bộ phận:</span>
        <span><%= current_user.degree_level.department.name %></span>
      </div>
    <% else %>
      <div>
        <span class="font-weight-bold">Người yêu cầu:</span>
        <span><%= @request_payment.user.full_name ? @request_payment.user.full_name : @request_payment.user.role %></span>
      </div>
      <div>
        <span class="font-weight-bold">Bộ phận:</span>
        <span><%=  @request_payment.user.degree_level ? @request_payment.user.degree_level.department.name : 'admin' %></span>
      </div>
    <% end %>
  </div>
</div>

<h5 class="" style="margin: 10px 150px 10px 180px !important">2, Chi tiết thông tin chuyến công tác</h5>
<div class="row">
  <div class="col-2"></div>
  <% if @request_payment.persisted? %>
    <div class="col-8 ">
      <div class=" form-group mr-5 ml-5">
        <label class="font-weight-bold">Quyết định số:</label>
        <label><%= @request_payment.business_trip.decision_writing %></label>
      </div>
      <div class="form-group mr-5 ml-5">
        <label class="font-weight-bold">Điểm đến:</label>
        <label><%= @request_payment.business_trip.destination %></label>
      </div>

      <div class="form-group row mr-5 ml-5">
        <div class="col-6" style="padding-left: 0">
          <label class="font-weight-bold" >Từ ngày:</label>
          <label><%= @request_payment.business_trip.from_date.strftime("%d-%m-%Y") %></label>
        </div>
        <div class="col-6" >
          <label class="font-weight-bold">Đến ngày:</label>
          <label><%= @request_payment.business_trip.to_date.strftime("%d-%m-%Y") %></label>
        </div>
      </div>
      <label class="font-weight-bold mr-5 ml-5">Danh sách nhân viên tham gia</label><br>
      <ul class="d-flex flex-wrap mr-5 ml-5">
        <% @request_payment.business_trip.users.each do |personnel| %>
          <li class="w-50">
            <%= personnel.code %> - <%= personnel.full_name %>
          </li>
        <% end %>
      </ul>

      <div class=" form-group mr-5 ml-5">
        <label class="font-weight-bold">Mục đích chuyến công tác:</label><br>
        <div class="markdown">
          <%= @request_payment.business_trip.purpose %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-8 ml-5 mr-5">
      <div class="form-group">
        <label class="font-weight-bold">Quyết định số:</label>
        <label><%= @business_trip.decision_writing %></label>
      </div>
      <div class=" form-group">
        <label class="font-weight-bold">Điểm đến:</label>
        <label><%= @business_trip.destination %></label>
      </div>

      <div class="form-group row">
        <div class="col-6" style="padding-left: 0">
          <label class="font-weight-bold" >Từ ngày:</label>
          <label><%= @business_trip.from_date %></label>
        </div>
        <div class="col-6" >
          <label class="font-weight-bold">Đến ngày:</label>
          <label><%= @business_trip.to_date %></label>
        </div>
      </div>

        <label class="font-weight-bold">Danh sách nhân viên tham gia</label><br>
        <ul class="d-flex flex-wrap">
          <% @business_trip.users.each do |personnel| %>
            <li class="w-50">
              <%= personnel.code %> - <%= personnel.full_name %>
            </li>
          <% end %>
        </ul>

      <div class=" form-group">
        <label class="font-weight-bold">Mục đích chuyến công tác:</label><br>
        <div class="markdown">
          <%= @business_trip.purpose %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-2"></div>
</div>

