<h5 class="" style="margin: 10px 150px 10px 180px !important">3, Danh sách chi phí</h5>

<div class="ml-5 mr-5" data-controller="request-payment-form">
  <%= form_for [@business_trip, @request_payment],  method: :patch, :html => {:class => ''} do |f| %>
    <%# <h5 class="text-center">Danh sách chi phí</h5> %>
    <div class="dropdown mr-1 text-right">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Thêm chi phí
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" data-action="request-payment-form#showEReceiptForm">Loại có hóa đơn</a>
        <a class="dropdown-item" data-action="request-payment-form#showNoReceiptForm">Loại không có hóa đơn</a>
      </div>
    </div>

    <div>
      <table id="table-EReceipt" class="table w-100">
        <caption style="caption-side: top">Danh sách chi phí có hóa đơn</caption>
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Loại chi phí</th>
            <th scope="col">Mã số thuế người bán</th>
            <th scope="col">Ký hiệu hóa đơn</th>
            <th scope="col">Mẫu số</th>
            <th scope="col">Số hóa đơn</th>
            <th scope="col" class="text-right pr-5">Chi phí</th>
          </tr>
        </thead>
        <tbody>
          <% @request_payment.business_trip_costs.each_with_index do |cost, index| %>
            <% if cost.receipt_type == "EReceipt" %>
              <tr>
                <th scope='col'><%= index + 1 %></th>
                <td class=" form-group " style="width: 15%;">
                  <select class="col-12 form-control" name="e_receipt[][cost_type_id]">
                      <% CostType.all.each do |ct| %>
                        <% if cost.cost_type_id == ct.id %>
                          <option value="<%= ct.id %>" selected><%= ct.name %></option>
                        <% else %>
                          <option value="<%= ct.id %>"><%= ct.name %></option>
                        <% end %>
                      <% end %>
                  </select>
                </td>
                <td class=" form-group">
                  <input name="e_receipt[][tax_number]" class="form-control" value="<%= cost.receipt.tax_number %>" required  />
                </td>
                <td class=" form-group">
                  <input name='e_receipt[][template_number]' class="form-control" value="<%= cost.receipt.template_number %>" required  />
                </td>
                <td class=" form-group">
                  <input name='e_receipt[][symbols]', class="form-control" value="<%= cost.receipt.symbols %>" required />
                </td>
                <td class=" form-group">
                  <input name='e_receipt[][receipt_number]', class="form-control" value="<%= cost.receipt.receipt_number %>" required />
                </td>
                <td class=" form-group pr-5" style="text-align: right">
                  <input type='number' name="e_receipt[][amount]" class="form-control amount-input"
                      value="<%= cost.receipt.amount %>" required
                      data-action='keyup->request-payment-form#calculatorTotal'  />
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <table id="table-NoReceipt" class="table w-100">
        <caption style="caption-side: top">Danh sách chi phí không hóa đơn</caption>
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">STT</th>
            <th scope="col">Loại chi phí</th>
            <th scope="col" class="text-right pr-5">Chi phí</th>
          </tr>
        </thead>
        <tbody>
          <% @request_payment.business_trip_costs.each_with_index do |cost, index| %>
            <% if cost.receipt_type == "NoReceipt" %>
              <tr>
                <th scope='col' style="width: 5%;"><%= index + 1 %></th>
                <td class=" form-group " style="width: 15%;">
                  <select class="col-12 form-control" name="no_receipt[][cost_type_id]">
                    <% CostType.all.each do |ct| %>
                      <% if cost.cost_type_id == ct.id %>
                        <option value="<%= ct.id %>" selected><%= ct.name %></option>
                      <% else %>
                        <option value="<%= ct.id %>"><%= ct.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </td>
                <td class=" form-group w-100 pr-5"  style="text-align: right">
                  <input type='number' name="no_receipt[][amount]"
                      class="amount-input form-control"
                      style="float: right; width: 17%" value="<%= cost.receipt.amount %>" required
                      data-action='keyup->request-payment-form#calculatorTotal'  />
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="font-weight-bold mr-5 text-right mb-3" style="font-size: 1.2em">
      Tổng số tiền
    </div>
    <div id="total_amount" class="currency font-weight-bold mr-5 text-right" style="font-size: 1.4em">
      <%= @request_payment.total_amount %>
    </div>

    <div class="d-flex flex-row-reverse mt-5">
      <%= f.submit "Lưu", class: 'btn btn-primary pl-4 pr-4 ml-3' %>
      <button type="button" class="btn btn-danger  pl-4 pr-4" data-dismiss="modal">Hủy</button>
    </div>
  <% end %>
</div>

