<div class="row align-items-center" style="height: 200px; margin: 0 150px !important">
  <div class="col-6">
    <% if @request_payment.new_record? %>
      <p>Số: PR000<%= RequestPayment.last.id + 1  if RequestPayment.last %></p>
    <% else %>
      <p>Số: PR000<%= @request_payment.id %></p>
    <% end %>
  </div>

  <div class="col-6">
    <p class="text-center font-weight-bold" style="font-size: 1.2rem">Công ty cổ phần LIQUID</p>

    <% if @request_payment.new_record? %>
      <p class="text-center">Hà Nội, ngày <%= Date.today.day %>, tháng <%= Date.today.month %>, năm <%= Date.today.year %> </p>
    <% else %>
      <p class="text-center">Hà Nội, ngày <%=  @request_payment.created_at.day %>, tháng <%=  @request_payment.created_at.month %>, năm <%=  @request_payment.created_at.year %> </p>
    <% end %>
  </div>
</div>
