<div class="row">
  <div class=" offset-7 text-right text-danger mr-5 mt-3 mb-4">
    <span>Trạng thái: <%= @request_payment.status %></span>
  </div>
</div>

<div class="ml-5 mr-5 mb-5 pb-5 border border-dark">
  <%= render 'header_form' %>
  <%= render 'business_trip_info' %>
  <%= render 'list_business_cost' %>
</div>

<% if !@request_payment.reason_rejects.empty? %>
  <%= render 'reasons_reject' %>
<% end %>

<div class="mt-5 mr-5 row justify-content-end">
  <div class="mr-5">
    <% if @request_payment.user.id == current_user.id or @request_payment.business_trip.users.index(current_user) or current_user.admin? %>
      <% if @request_payment.status == 'Tạm bị từ chối' or  @request_payment.status == 'Đang đợi xác nhận từ trưởng bộ phận' %>
        <%= link_to edit_business_trip_request_payment_path(business_trip_id: @business_trip.id, id: @request_payment.id), class: 'btn btn-primary ', style: 'font-size: 1.11rem' do %>
          Sửa thông tin
        <% end %>
      <% end %>
    <% end %>

    <% if @request_payment.new_record? %>
      <%= link_to business_trip_request_payments_path(business_trip_id: @business_trip.id), class: 'btn btn-primary' do %>
        Xem yêu cầu thanh toán
      <% end %>
    <% end %>
  </div>
</div>

