
<div>
    <div class="row">
      <div class=" offset-7 text-right text-danger mr-5 mt-3 mb-4">
        <span>Trạng thái: <%= @request_payment.status %></span>
      </div>
    </div>

    <%= render 'business_trip_info' %>
    <%= render 'list_business_cost' %>

    <% if !@request_payment.reason_rejects.empty? %>
      <%= render 'reasons_reject' %>
    <% end %>

    <div class="mt-5 row"">
      <div class="offset-8">
        <% if @request_payment.business_trip.users.index(current_user) or current_user.role == 'admin' %>
          <% if @request_payment.status == 'Tạm bị từ chối' or  @request_payment.status == 'Đang đợi xác nhận từ bộ phận tài vụ' %>
            <%= link_to edit_business_trip_request_payment_path(business_trip_id: @business_trip.id, id: @request_payment.id), class: 'btn btn-secondary ml-5' do %>
              Sửa thông tin
            <% end %>
          <% end %>
        <% end %>

        <% if @request_payment.new_record? %>
          <%= link_to business_trip_request_payments_path(business_trip_id: @business_trip.id), class: 'btn btn-primary' do %>
            Xem yêu cầu thanh toán
          <% end %>
        <% end %>
      </div>
    </div>

</div>

