<div >

  <form class="mb-4">
      <%= select_tag :status,
          options_for_select(RequestPayment.statuses, params[:status]),
          prompt: "Tất cả", class: 'w-full', style: "padding: 5px 2px",
          onchange: "this.form.submit()" %>
  </form>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Điểm đến</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <% @request_payments.each_with_index do |request, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= request.business_trip.destination %></td>
          <td class="text-danger"><%= request.status %></td>
          <td>
            <%= link_to request_payment_path(request), class: 'btn btn-primary' do %>
              Xem chi tiết
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
