<div class="row">
  <div class=" offset-7 text-right text-danger mr-5 mt-3 mb-4">
    <span>Trạng thái: <%= @request_payment.status %></span>
  </div>
</div>
<div class="ml-5 mr-5 border border-dark">
  <%= render 'header_form' %>
  <%= render 'business_trip_info' %>
  <%= render 'list_business_cost' %>

  <div class=" mt-5 mb-5 row justify-content-center"">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <% if @request_payment.status == 'Đang đợi xác nhận từ trưởng bộ phận' %>
          <% if current_user.admin? or @request_payment.user.degree_level.department.user == current_user %>
            <%= render 'buttons' %>
          <% end %>
        <% end %>

        <% if @request_payment.status == 'Đang đợi xác nhận từ bộ phận tài vụ' or @request_payment.status == 'Đã chấp thuận, chờ thực hiện thanh toán' %>
          <% if current_user.admin? or current_user.financial_department? %>
            <%= render 'buttons' %>
          <% end %>
        <% end %>

        <% if @request_payment.status == 'Đang đợi xác nhận từ trưởng bộ phận tài vụ' %>
          <% if current_user.admin? or current_user.head_of_financial_department? %>
            <%= render 'buttons' %>
          <% end %>
        <% end %>


      </div>

    </div>
    <div class="col-2"></div>
  </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Lý do</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <%= form_for :reason_reject, url: reason_rejects_path do |f| %>
              <input type="hidden" name="reason_reject[request_payment_id]" value="<%= @request_payment.id %>" />
              <div class="form-group">
                <label for="exampleInputEmail1">Lý do từ chối</label>
                <textarea  class="form-control" rows="7" name='reason_reject[reason]'></textarea>
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            <% end %>
          </div>
      </div>
    </div>


</div>

