<div class="modal fade" id="createModalPersonnel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'new' %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModalPersonnel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'edit' %>
      </div>
    </div>
  </div>
</div>

<% if @degrees.empty? %>
  <h4 class="text-center text-danger">Hiện chưa có cấp bậc và giáo viên nào thuộc bộ phận này</h4>
  <div class="w-100 text-center">
    <%= link_to "Tạo cấp bậc", degree_levels_path, class: "btn btn-primary m-5 pl-5 pr-5 pt-3 pb-3" %>
  </div>
<% end %>

<h4 class="text-center"><%= @department.name %></h4>


<% @degrees.each do |key, personnels| %>
  <h5 class="mt-5"> ★ Danh sách nhân viên cấp bậc <%= key.name %> </h5>
  <div class="row">
    <div class="col-10"></div>
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createModalPersonnel" data-id="<%= key.id %>" data-name="<%= key.name %>" data-department="<%= key.department.name %>">
      Thêm nhân viên
    </button>
  </div>
  <div>
    <% if personnels.empty? %>
      <p class="text-danger text-center">Hiện chưa có nhân viên bộ phận này</p>
    <% else %>
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Email</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Ngày sinh</th>

          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% personnels.each_with_index do |personnel, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= personnel.full_name %></td>
            <td><%= personnel.email %></td>
            <td><%= personnel.gender %></td>
            <td><%= personnel.birthday.strftime("%d-%m-%Y") %></td>

            <td>
              <button type="button" class="btn btn-secondary"
                    data-toggle="modal" data-target="#editModalPersonnel"
                    data-id="<%= personnel.id %>" data-name="<%= personnel.email %>">
                  <i class="fas fa-edit"></i>
              </button>
              <%= link_to department_personnel_path(id: personnel.id),  method: :delete, data: { confirm: "Really ?  " + personnel.email }, class: 'btn btn-danger' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
<% end %>
