<div class="header d-flex justify-content-end" style="font-size: 1.2em">

  <div class="mr-5">
    <% if user_signed_in? %>
      <div class="mt-2">
        <% if current_user.degree_level && current_user.degree_level.department %>
          <p class="mb-0"> Hello, <%= current_user.full_name %></p>
          <p class="mb-0 text-danger" ><%= current_user.degree_level.department.name %></p>
        <% else %>
          <span> Hello, <strong><%= current_user.role %></strong> </span>
        <% end %>
      </div>
      <%= link_to('Đăng xuất', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Đăng nhập', new_user_session_path) %>
    <% end %>
  </div>
</div>
