<div class="header row" style="font-size: 1.2em">
  <div class="col-10">

  </div>
  <div class="col-2 ">
    <% if user_signed_in? %>
      <div class="d-flex align-items-end h-50">
        <% if current_user.role == 'admin' or current_user.role == 'education'%>
          <span class=""> Hello, </span>
          <span class="" ><%= current_user.role %></span>
        <% else %>
          <span> Hello, <strong><%= current_user.teacher.full_name %></strong> </span>
          <span><%= current_user.role %></span>
        <% end %>
      </div>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </div>
</div>
