<div class="">
  <div class="w-100 text-center" style="margin-top: 17px; margin-bottom: 17px">
    <span class="logo align-middle">LIQUID</span>
  </div>

  <hr class="bg-light w-100" style="margin: 0">

  <nav class="navbar">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <%= link_to('Quản lý chuyến công tác', business_trips_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
        <%= link_to('Quản lý yêu cầu thanh toán', list_payment_request_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
          <%= link_to('Quản lý bộ phận/ nhân viên', departments_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
        <%= link_to('Quản lý cấp bậc', degree_levels_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
        <%= link_to('Quản lý loại chi phí', cost_types_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
        <%= link_to('Quản lý hạn mức', limit_costs_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <li class="nav-item">
        <%= link_to('Báo cáo', report_request_payments_path, class: "nav-link") %>
      </li>
      <hr class="bg-info">
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to('Quản lý người dùng', users_path, class: "nav-link") %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
