<!DOCTYPE html>
<html>
  <head>
    <title>BusinessTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-2 side_bar vh-100">
          <% if current_user.role == 1 %>
            <%= render 'layouts/side_bar_education' %>
          <% else %>
            <%= render 'layouts/side_bar' %>
          <% end %>
        </div>

        <div class="col-10">
          <%= render 'layouts/header' %>
          <div class="main vh-100">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= toastr_flash %>
  </body>
</html>
